<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>Details</h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@person.name, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="media">
    <div class="media-left">
      <%= image_tag @person.profile_path_url %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @person.name %></h3>
      <p class="custom-media"><strong>Birthday: </strong><%= @person.birthday %></p>
      <p class="custom-media"><strong>Birthplace: </strong><%= @person.place_of_birth %></p>
      <p class="custom-media"><strong>Date of Death: </strong><%= @person.deathday %></p>
      <p class="custom-media"><%= @person.biography %></p>
    </div>
  </div>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.movie_image_url %></li>
    <% end %>
  </ul>
</div>
