<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>Details</h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@person.name, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
      <div>
        <% if current_user.email == 'smoline@gmail.com' %>
          <%= link_to @person, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Delete
          <% end %>
          <%= link_to edit_person_path(@person), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="media">
    <div class="media-left col-md-3 text-center col-xs-12">
      <%= image_tag @person.profile_path_url %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @person.name %></h3>
      <p class="custom-media"><strong>Birthday: </strong><%= @person.birthday %></p>
      <p class="custom-media"><strong>Birthplace: </strong><%= @person.place_of_birth %></p>
      <% if @person.deathday != "" %>
        <p class="custom-media"><strong>Date of Death: </strong><%= @person.deathday %></p>
      <% end %>
      <p class="custom-media"><%= @person.biography %></p>
    </div>
  </div>
    <h3 class="custom-media-heading">Movies they appear in that you own:</h3>
    <div class="show-flexbox">
    <% @moviescast.each do |moviecast| %>
      <p class="inner-show-flexbox"><%= link_to movie_path(moviecast.id) do %>
        <%= image_tag moviecast.movie_image_url %>
      <% end %></p>
    <% end %>
  </div>
</div>
