
  <li class="box">
    <% if movie.image.present? %>
      <%= link_to movie do %>
        <%= image_tag movie.image_url(:small) %>
      <% end %>
    <% elsif movie.movie_image_url.nil? || movie.movie_image_url.empty? %>
      <%= link_to movie do %>
        <%= image_tag("genericperson.png") %>
      <% end %>
    <% else %>
      <%= link_to movie do %>
        <%= image_tag movie.movie_image_url %>
      <% end %>
    <% end %>
    <div class="textline">
      <div class="firsttextline">
        <p class="s-text"><%= truncate(movie.title, length: 44, seperator: ' ') %></p>
      </div>
    </div>
    <div class="textline">
      <p class="s-text secondtextline yearage" data-showing-age="false" data-age="<%= movie.year_age %>" data-release="<%= movie.release_date %>"><%= movie.release_date %></p>
      <p class="s-text secondtextline minhour" data-showing-hours="false" data-hours="<%= movie.runtime_hours %>" data-mins="<%= movie.runtime %>"><%= movie.runtime %> Mins.</p>
      <div class="heartbox">
        <% if user_signed_in? && favorited(movie.id) == true %>
        <p class="faved-heart" data-remote=true data-type=script data-movieid="<%= movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% elsif user_signed_in? && favorited(movie.id) == false %>
        <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% end %>
      </div>
    </div>
  </li>
