
  <%# upc %>
  <div class="form-group">
    <%= f.label :upc, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :upc, class: "form-control" %>
    </div>
  </div>

  <%# notes %>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :notes, class: "form-control" %>
    </div>
  </div>

  <%# image_upload %>
  <%# <div class="form-group"> %>
    <%# <%= f.label :image, class: "col-sm-3 control-label" %>
    <%# <div class="col-sm-9"> %>
      <%# <%= f.hidden_field :image, value: @owner_info.cached_image_data %>
      <%# <%= f.file_field :image %>
    <%# </div> %>
  <%# </div> %>
