<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>My Movies </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are watching with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag %>
          </div>
        </div>
      </div>
      <div>
      <%= link_to new_movie_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Add Movie
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ul class="s-ul">
    <%= render @movies %>
  </ul>
</div>
<div class="text-center" id='paginator'>
  <%= paginate @movies, remote: true %><br>
  <%= page_entries_info @movies %>
<p>Logged in as <%= current_user.email %></p>
</div>
