<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>My Movies </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are watching with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag %>
          </div>
        </div>
      </div>
      <div>
      <%= link_to new_movie_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Add Movie
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ul class="s-ul">
    <%- @movies.each do |movie| %>
    <% if movie.created_by_id == current_user.id %>
    <li class="box">
      <% if movie.image.present? %>
        <%= link_to movie do %>
          <%= image_tag movie.image_url(:small) %>
        <% end %>
      <%else %>
        <%= link_to movie do %>
          <%= image_tag movie.movie_image_url %>
        <% end %>
      <% end %>
      <div class="textline">
        <div class="firsttextline">
          <p class="s-text"><%= movie.title %></p>
        </div>
      </div>
      <div class="textline">
        <p class="s-text secondtextline"><%= movie.release_date %></p>
        <p class="s-text secondtextline minhour" data-showing-hours="false" data-hours="<%= movie.runtime_hours %>" data-mins="<%= movie.runtime %>"><%= movie.runtime %> Mins.</p>
        <div class="heartbox">
          <% if user_signed_in? && favorited(movie.id) == true %>
          <p class="faved-heart" data-remote=true data-type=script data-movieid="<%= movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
          <% elsif user_signed_in? && favorited(movie.id) == false %>
          <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<div class="text-center" id='paginator'>
  <!-- <%= paginate @movies, remote: true %><br> -->
  <%= paginate @movies do %>
    <nav>
      <ul class="pagination pagination-lg">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
        <% each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <%= page_tag page %>
          <% end %>
        <% end %>
        <%= next_page_tag unless current_page.last? %>
        <%= last_page_tag unless current_page.last? %>
      </ul>
    </nav>
  <% end %>
  <%= page_entries_info @movies %>
</div>
