<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>Movie Details </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are watching with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@movie.title, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to movies_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
        <% end %>
        <%= link_to @movie, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Delete
        <% end %>
        <%= link_to edit_movie_path(@movie), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container s-media">
  <% if current_user.owned_movies.include?(@movie) %>
  <div class="media">
    <div class="media-left col-md-3 text-center col-xs-12">
        <% if @owner_info.image.attached? %>
          <%= image_tag @owner_info.image, class:'mainimage', width: '185px' %>
        <%elsif @movie.movie_image_url.nil? || @movie.movie_image_url.empty? %>
          <%= image_tag("genericperson.png") %>
        <% else %>
            <%= image_tag @movie.movie_image_url %>
        <% end %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @movie.title %></h3>
      <% if user_signed_in? && favorited(@movie.id) == true %>
        <p class="faved-heart" data-remote=true data-type=script data-movieid="<%= @movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
      <% elsif user_signed_in? && favorited(@movie.id) == false %>
        <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= @movie.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
      <% end %>
      <p class="custom-media"><%= @movie.tagline %></p>
      <p class="custom-media yearage" data-showing-age="false" data-age="<%= @movie.year_age %>" data-release="<%= @movie.release_date %>"><strong>Release date: </strong><%= @movie.release_date %></p>
      <p class="custom-media minhour" data-showing-hours="false" data-hours="<%= @movie.runtime_hours %>" data-mins="<%= @movie.runtime %>"><strong>Runtime: </strong><%= @movie.runtime %> Mins.</p>
      <p class="custom-media"><%= @movie.description %></p>
      <p class="custom-media"><strong>Genres: </strong>
        <% @genres.each do |genre| %>
        - <%= genre.name %>
        <% end %>
      </p>
      <p class="custom-media"><strong>Location Notes: </strong><%= @owner_info.notes %></p>
      <p class="custom-media"><strong>UPC: </strong><%= @owner_info.upc %></p>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <h3 class="custom-media-heading">Cast:</h3>
    <% @actors.each do |actor| %>
      <%= link_to person_path(actor.person.id) do %>
        <h5 class="custom-media"><%= actor.name %> - <%= actor.character %></h5>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6 col-xs-12">
    <h3 class="custom-media-heading">Crew:</h3>
    <% @crews.each do |crew| %>
      <%= link_to person_path(crew.person.id) do %>
        <h5 class="custom-media"><%= crew.name %> - <%= crew.job %></h5>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
