<div class="page-header custom-header">
  <%= link_to movies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @movie, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Delete
  <% end %>
  <%= link_to edit_movie_path(@movie), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Movie Details</h1>
</div>

<div class="media">
  <div class="media-left">
      <% if @movie.image.present? %>
        <%= link_to @movie do %>
          <%= image_tag @movie.image_url(:medium), class:'mainimage' %>
        <% end %>
      <%else %>
        <%= link_to @movie do %>
          <%= image_tag @movie.movie_image_url %>
        <% end %>
      <% end %>
  </div>
  <div class="media-body">
    <h3 class="media-heading custom-media-heading"><%= @movie.title %></h3>
    <% if user_signed_in? && favorited(@movie.id) == true %>
      <p class="faved-heart" data-remote=true data-type=script data-movieid="<%= @movie.id %>"> &hearts;</p>
    <% elsif user_signed_in? && favorited(@movie.id) == false %>
      <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= @movie.id %>"> &hearts;</p>
    <% end %>
    <p class="custom-media"><%= @movie.tagline %></p>
    <p class="custom-media"><strong>Release date: </strong><%= @movie.release_date %></p>
    <p class="custom-media"><strong>Runtime: </strong><%= @movie.runtime %></p>
    <p class="custom-media"><%= @movie.description %></p>
    <p class="custom-media">Tmdb: <%= @movie.tmdb_id %> Upc: <%= @movie.upc %></p>
  </div>
</div>
