
  <%# title %>
  <div class="form-group">
    <%= f.label(:title, "TV Episode Title", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>


  <%# tmdb_episode_id %>
  <div class="form-group">
    <%= f.label(:tmdb_episode_id, "TMDb Episode ID", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.number_field :tmdb_episode_id, class: "form-control" %>
    </div>
  </div>


  <%# description %>
  <div class="form-group">
    <%= f.label(:description, "Episode Description", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>


  <%# air_date %>
  <div class="form-group">
    <%= f.label(:air_date, "Episode Air Date", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :air_date, class: "form-control" %>
    </div>
  </div>


  <%# episode_number %>
  <div class="form-group">
    <%= f.label(:episode_number, "Episode Number", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.number_field :episode_number, class: "form-control" %>
    </div>
  </div>


  <%# season_number %>
  <div class="form-group">
    <%= f.label(:season_number, "Season Number", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.number_field :season_number, class: "form-control" %>
    </div>
  </div>


  <%# episode_image_url %>
  <div class="form-group">
    <%= f.label(:episode_image_url, "TV Episode Image Link", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :episode_image_url, class: "form-control" %>
    </div>
  </div>


  <%# tv_season_id %>
  <div class="form-group">
    <%= f.label(:tv_season_id, "TV Season ID", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :tv_season_id, class: "form-control" %>
    </div>
  </div>


  <%= f.fields_for :tv_owners, @tv_owner_info do |builder| %>
    <%= render 'tvownerform', f: builder %>
  <% end %>
