
  <%# title %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>


  <%# tmdb_episode_id %>
  <div class="form-group">
    <%= f.label :tmdb_episode_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :tmdb_episode_id, class: "form-control" %>
    </div>
  </div>


  <%# description %>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>


  <%# air_date %>
  <div class="form-group">
    <%= f.label :air_date, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :air_date, class: "form-control" %>
    </div>
  </div>


  <%# episode_number %>
  <div class="form-group">
    <%= f.label :episode_number, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :episode_number, class: "form-control" %>
    </div>
  </div>


  <%# season_number %>
  <div class="form-group">
    <%= f.label :season_number, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :season_number, class: "form-control" %>
    </div>
  </div>
