  <%# name %>
  <div class="form-group">
    <%= f.label(:name, "TV Season Title", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>


  <%# tmdb_season_id %>
  <div class="form-group">
    <%= f.label(:tmdb_season_id, "TMDb Season ID", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.number_field :tmdb_season_id, class: "form-control" %>
    </div>
  </div>


  <%# tv_show %>
  <div class="form-group">
    <%= f.label(:tv_show_id, "TV Show ID", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :tv_show_id, class: "form-control" %>
    </div>
  </div>


  <%# overview %>
  <div class="form-group">
    <%= f.label(:overview, "TV Season Overview", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :overview, class: "form-control" %>
    </div>
  </div>


  <%# air_date %>
  <div class="form-group">
    <%= f.label(:air_date, "TV Season Air Date", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :air_date, class: "form-control" %>
    </div>
  </div>


  <%# season_number %>
  <div class="form-group">
    <%= f.label(:season_number, "TV Season Number", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.number_field :season_number, class: "form-control" %>
    </div>
  </div>


  <%# season_poster_path %>
  <div class="form-group">
    <%= f.label(:season_poster_path, "TV Season Image Link", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.text_field :season_poster_path, class: "form-control" %>
    </div>
  </div>

  <%= f.fields_for :tv_episodes, @tv_episode_info do |builder| %>
    <%= render 'episodeform', f: builder %>
  <% end %>
