<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> <%= Rails.application.class.parent_name %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body class="custom-body">
  <div class="custom-brand">My Media Library</div>
  <div class="custom-address-bar">For All Your Media Collections</div>


  <div class="text-center landing-flexbox">
    <%= link_to "Home", movies_path, class: "btn btn-lg btn-default s-btn" %>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-lg btn-default s-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-default s-btn" %>
      <%= link_to "Signup", new_user_registration_path, class: "btn btn-lg btn-default s-btn" %>
    <% end %>
  </div>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill"><%= image_tag("movies.jpg") %></div>
                <div class="carousel-caption">
                    <h2>How many shelves do your discs take up?</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill"><%= image_tag("movietheater.jpg") %></div>
                <div class="carousel-caption">
                    <h2>This is the place to track all your Videos!</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill"><%= image_tag("videogame.jpg") %></div>
                <div class="carousel-caption">
                    <h2>You can track your Video Games here too!</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->s
    <div class="container custom-text">

        <div class="row">
            <div class="jumbotron text-center">
                <h2>Do you know every single Movie and TV Show you have purchased on DVD or Blu-ray Disc?  What if you wanted to know everything you own that involved a specific actor?</h2>
                <h3>Have you ever wanted to be able to sort your Video Games by title, and also see them sorted by release date? Or console type?  If the unthinkable happens, do you have a list of everything you own to give the insurance company?  If you have ever wanted more out of your shelves of DVDs, then this is the place for you!  This site is for your Media Collection organizational or documenting needs. Check it out!</h3>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright &copy; My Media Library 2017</p>
                </div>
                <div class="pull-right">
                    <a href="https://www.themoviedb.org/?language=en" height="50px"><%= image_tag("408x161-powered-by-rectangle-green sm.png") %></a>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
