<% if game.created_by_id == current_user.id %>
  <li class="box">
    <% if game.image.present? %>
      <%= link_to game do %>
        <%= image_tag game.image_url(:small) %>
      <% end %>
    <%else %>
      <%= link_to game do %>
        <%= image_tag game.game_image_url, class:'gameimage' %>
      <% end %>
    <% end %>
    <div class="textline">
      <p class="s-text firsttextline"><%= game.title %></p>
    </div>
    <div class="textline">
      <p class="s-text secondtextline"><%= game.console_type %></p>
      <div class="heartbox pull-right">
        <% if user_signed_in? && gamefavorited(game.id) == true %>
        <p class="game-faved-heart" data-remote=true data-type=script data-gameid="<%= game.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% elsif user_signed_in? && gamefavorited(game.id) == false %>
        <p class="game-fav-heart" data-remote=true data-type=script data-gameid="<%= game.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
