<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>My Video Games </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are playing with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to new_game_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Game
        <% end %>
      </div>
    </div>
  </div>
</div>

  <ul class="s-ul">
    <%= render @games %>
  </ul>

  <div class="text-center" id='paginator'>
    <%= paginate @games, remote: true %><br>
    <%= page_entries_info @games %>
    <p>Logged in as <%= current_user.email %></p>
  </div>
