<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>My Video Games </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are playing with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to new_game_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Game
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="s-ul">
    <%= render @games %>
  </div>

  <div class="text-center" id='game-paginator'>
    <!-- <%= paginate @games, remote: true %><br> -->
    <%= paginate @games do %>
      <nav>
        <ul class="pagination pagination-lg">
          <%= first_page_tag unless current_page.first? %>
          <%= prev_page_tag unless current_page.first? %>
          <% each_page do |page| %>
            <% if page.left_outer? || page.right_outer? || page.inside_window? %>
              <%= page_tag page %>
            <% end %>
          <% end %>
          <%= next_page_tag unless current_page.last? %>
          <%= last_page_tag unless current_page.last? %>
        </ul>
      </nav>
    <% end %>
    <%= page_entries_info @games %>
    <p>Logged in as <%= current_user.email %></p>
  </div>
  <h3 class="col-md-2 col-md-offset-10 text-center">Powered by: <%= image_tag("GiantBombLogo.png") %></h3>
</div>
