<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>Video Game Details </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are playing with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@game.title, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to games_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
        <% end %>
        <%= link_to @game, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Delete
        <% end %>
        <%= link_to edit_game_path(@game), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="media">
    <div class="media-left col-md-5 text-center col-xs-12">
      <% if @game.image.attached? %>
        <%= image_tag @game.image, class:'gameimage', width: '300px' %>
      <%else %>
        <%= image_tag @game.game_image_url, class: "gameimage", width: '300px' %>
      <% end %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @game.title %></h3>
      <div class="heartbox">
        <% if user_signed_in? && gamefavorited(@game.id) == true %>
        <p class="game-faved-heart" data-remote=true data-type=script data-gameid="<%= @game.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% elsif user_signed_in? && gamefavorited(@game.id) == false %>
        <p class="game-fav-heart" data-remote=true data-type=script data-gameid="<%= @game.id %>"><i class="fa fa-heart" aria-hidden="true"></i></p>
        <% end %>
      </div>
      <p class="custom-media"><strong>Developers: </strong>
        <% @developers.each do |developer| %>
        - <%= developer.name %>
        <% end %>
      </p>
      <p class="custom-media"><strong>Console: </strong><%= @game.console_type %></p>
      <p class="custom-media"><%= @game.description %></p>
      <p class="custom-media"><strong>Original Release Date: </strong><%= @game.release_date %></p>
      <p class="custom-media"><strong>Genres: </strong>
        <% @game_genre.each do |genre| %>
        - <%= genre.name %>
        <% end %>
      </p>
      <p class="custom-media"><strong>Upc: </strong><%= @game.upc %></p>
    </div>
  </div>
</div>
