<div class="container">
  <div class="page-header">
    <%= link_to games_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to @game, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete
    <% end %>
    <%= link_to edit_game_path(@game), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <div class="well well-lg custom-well text-center">
      <h5>Share what you are playing with your friends!</h5>
      <div class="text-center">
        <%= social_share_button_tag(@game.title, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
      </div>
    </div>
    <h1>Show game</h1>
  </div>
</div>

<div class="container">
  <div class="media">
    <div class="media-left game-image">
      <% if @game.image.present? %>
        <%= link_to @game do %>
          <%= image_tag @game.image_url(:medium) %>
        <% end %>
      <%else %>
        <%= link_to @game do %>
          <%= image_tag @game.game_image_url, class: "gameimage" %>
        <% end %>
      <% end %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @game.title %></h3>
      <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= @game.id %>"> &hearts;</p>
      <p class="custom-media">Brand: <%= @game.brand %> Console: <%= @game.console_type %></p>
      <p class="custom-media"><%= @game.description %></p>
      <p class="custom-media">Upc: <%= @game.upc %></p>
    </div>
  </div>
</div>
