<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>Video Game Details </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are playing with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@game.title, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to games_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
        <% end %>
        <%= link_to @game, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Delete
        <% end %>
        <%= link_to edit_game_path(@game), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="media">
    <div class="media-left col-md-5 text-center col-s-12 game-image">
      <% if @game.image.present? %>
        <%= image_tag @game.image_url(:medium) %>
      <%else %>
        <%= image_tag @game.game_image_url, class: "gameimage" %>
      <% end %>
    </div>
    <div class="media-body">
      <h3 class="media-heading custom-media-heading"><%= @game.title %></h3>
      <p class="fav-heart" data-remote=true data-type=script data-movieid="<%= @game.id %>"> &hearts;</p>
      <p class="custom-media"><strong>Brand: </strong><%= @game.brand %></p>
      <p class="custom-media"><strong>Console: </strong><%= @game.console_type %></p>
      <p class="custom-media"><%= @game.description %></p>
      <p class="custom-media"><strong>Original Release Date: </strong><%= @game.release_date %></p>
      <p class="custom-media"><strong>Upc: </strong><%= @game.upc %></p>
    </div>
  </div>
</div>
