<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= link_to('/users/auth/facebook', {:class => "btn btn-block btn-social btn-facebook"}) do %>
  <span class="fa fa-facebook"></span>Sign in with Facebook
<%- end %>
<%= link_to('/auth/google', {:class => "btn btn-block btn-social btn-google"}) do %>
   <span class="fa fa-google"></span>Sign in with Google
<% end %>
<%= link_to('/auth/linkedin', {:class => "btn btn-block btn-social btn-linkedin"}) do %>
   <span class="fa fa-linkedin"></span>Sign in with Linkedin
<% end %>
<%= link_to('/auth/github', {:class => "btn btn-block btn-social btn-github"}) do %>
   <span class="fa fa-github"></span>Sign in with Github
<% end %>

<%= render "devise/shared/links" %>

<div class="wrapper">
  <div class="s-form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="form-signin-heading">Please login</h2>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address", type: "email" %><br />
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", type: "password" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-lg btn-default btn-block" %><br />
    </div>
    <%= link_to('/users/auth/facebook', {:class => "btn btn-block btn-social btn-facebook"}) do %>
      <span class="fa fa-facebook"></span>Sign in with Facebook
    <%- end %>
    <%= link_to('auth/google', {:class => "btn btn-block btn-social btn-google"}) do %>
       <span class="fa fa-google"></span>Sign in with Google
     <% end %>
     <%= link_to('auth/linkedin', {:class => "btn btn-block btn-social btn-linkedin"}) do %>
         <span class="fa fa-linkedin"></span>Sign in with Linkedin
     <% end %>
     <%= link_to('auth/github', {:class => "btn btn-block btn-social btn-github"}) do %>
       <span class="fa fa-github"></span>Sign in with Github
     <% end %>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
