<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    <%= Rails.application.class.parent_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'coming-soon', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style>

  </style>
</head>
<body class="controller-<%= controller_name%> action-<%= action_name%> custom-body-js coming-soon-body">
  <nav class="navbar navbar-inverse navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "/", class: "navbar-brand" do %>
          My Media Library
        <% end %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= link_to "Sort by Title", movies_path(sort: 'title') %></a></li>
              <li><a href="#"><%= link_to "Sort by Release Date", movies_path(sort: 'release_date') %></a></li>
              <li><a href="#"><%= link_to "Sort by When Added", movies_path(sort: 'created_at') %></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><%= link_to "Favorites Only", movies_path(sort: 'favorites') %></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TV Shows<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= link_to "Sort by Title", tv_episodes_path %></a></li>
              <li><a href="#"><%= link_to "Sort by Release Date", tv_episodes_path %></a></li>
              <li><a href="#"><%= link_to "Sort by When Added", tv_episodes_path %></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><%= link_to "Favorites Only", tv_episodes_path %></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Video Games<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= link_to "Sort by Title", games_path(sort: 'title') %></a></li>
              <li><a href="#"><%= link_to "Sort by Release Date", games_path(sort: 'release_date') %></a></li>
              <li><a href="#"><%= link_to "Sort by When Added", games_path(sort: 'created_at') %></a></li>
              <li><a href="#"><%= link_to "Sort by Console", games_path(sort: 'console_type') %></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><%= link_to "Favorites Only", games_path(sort: 'favorites') %></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
        <% if controller_name == "movies" && action_name == "index" %>
          <ul>
            <%= form_tag(movies_path, :method => "get", id: "search-form", class: "navbar-form navbar-right form-inline") do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Title, Description or Year", style: 'width: 300px', id: "query" %>
              <!-- <%= submit_tag "Search", class: "btn btn-default" %> -->
            </div>
            <% end %>
          </ul>
        <% end %>
        <% if controller_name == "games" && action_name == "index" %>
          <ul>
            <%= form_tag(games_path, :method => "get", id: "search-form", class: "navbar-form navbar-right form-inline") do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Title or Description", style: 'width: 300px' %>
              <%= submit_tag "Search", class: "btn btn-default" %>
            </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

  </div>
  <div class="container">
    <div class="custom-header text-center">
      <h1 Listing>New Shows</h1>
    </div>
    <div class="embed-responsive embed-responsive-16by9 coming-soon">

    </div>
  </div>
</body>
</html>
