<div class="container">
  <div class="page-header custom-header">
    <div class="header-flexbox">
      <div class="flextitle">
        <h1 Listing>TV Episode Details </h1>
      </div>
      <div class="social-flexbox">
        <div class="well well-sm custom-well text-center">
          <h5>Share what you are watching with your friends!</h5>
          <div class="text-center">
            <%= social_share_button_tag(@tv_show.title, :url => "http://my-media-library.com", allow_sites: %w(twitter facebook linkedin)) %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to @tv_episode, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Delete
        <% end %>
        <%= link_to tv_episodes_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
        <% end %>
        <%= link_to edit_tv_episode_path(@tv_episode), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      </div>
    </div>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @tv_episode.title %></dd>

  <dt>Tmdb episode:</dt>
  <dd><%= @tv_episode.tmdb_episode_id %></dd>

  <dt>Description:</dt>
  <dd><%= @tv_episode.description %></dd>

  <dt>Air date:</dt>
  <dd><%= @tv_episode.air_date %></dd>

  <dt>Episode number:</dt>
  <dd><%= @tv_episode.episode_number %></dd>

  <dt>Season number:</dt>
  <dd><%= @tv_episode.season_number %></dd>

  <dt>Tvshow image url:</dt>
  <dd><%= @tv_episode.tvshow_image_url %></dd>

  <dt>Created by:</dt>
  <dd><%= @tv_episode.created_by_id %></dd>

</dl>
